.heading{
    background-color: brown;
    color: cornsilk;
}

#ssir{
    color: red;
}

#lsir{
    color: blue;
}
.su{
    background-color: blue;
}
.hu{
    background-color: blueviolet;
}
.hu{
    background-color: brown;
    color:blue ;
}
.hello{
    background-color: blueviolet;
}